__pycache__/
**/__pycache__/
*.pyc
old_scripts/
.DS_Store
**/.DS_Store
summary/Fewshot*
summary/ZeroShot*
summary/rq3
summary/data/
summary/figures/
Synthesis/
test.ipynb
secrets.txt
jc_local_work/
jc_own_test/
Close/run/run_p_GDP_D.py
Close/run/test_util.py
Close/Results/gpt-4-0125-res.rar
